div.pageheader {font-size: 2em }
input.word { line-height: 3em; width: 100%; font-size: 3em }
input.comment { line-height: 2.5em; width: 100%; font-size: 2.5em }
button.grade { height: 3em; width: 20%; font-size: 3em }
div.pageheader { width: 100%; text-align: center }
div.textinput { width: 100% ;}
div.buttons { width: 100% ; text-align: center}
div.history { width: 100% ; text-align: center; }
table.history { width: 40% ; margin-left: 30%; margin-right: 30% }